{
    "$schema": "http://json.schemastore.org/prettierrc",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react$",
        "^react-native$",
        "<THIRD_PARTY_MODULES>",
        "^@charleston/(.*)$",
        "^@ds/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "endOfLine": "lf"
}
